:root {
  --main-color: rgb(117, 117, 117);
  --first-black: rgb(0, 0, 0);
  --secondary-black: rgb(33, 33, 33);
  --dark-color: rgb(47, 48, 58);
  --main-button-color: rgb(245, 244, 250);
  --blue-color: rgb(33, 150, 243);
  --first-white: rgb(255, 255, 255);
  --portfoliobox-color: rgb(238, 238, 238);
  --semi-white-color: rgba(255, 255, 255, 0.6);
  --primary-color: rgb(236, 236, 236);
  --first-font: "Roboto", sans-serif;
  --secondary-font: "Raleway";
}
body {
  color: var(--main-color);
  font-family: var(--first-font);
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* SECTION LINKS AND LISTS */
.logo,
.menu-list-link:link,
.menu-list-link:visited,
.contact-list-link,
.footer-list-link:link,
.footer-list-link:visited,
.head-section-button,
.filter-button {
  cursor: pointer;
  text-decoration: none;
}

.filter-list,
.footer-list,
.portfolio-list,
.menu-list,
.contact-list,
.team-list,
.about-list,
.lorem-list {
  list-style-type: none;
}
/* LOGO */
.logo {
  font-family: var(--secondary-font);
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-studio {
  color: var(--first-black);
}
/*HEADER */
.header {
  background-color: var(--first-white);
}
.menu-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-black);
}

.contact-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* HEAD SECTION */
.head-section {
  background-color: var(--dark-color);
  line-height: 1.36;
  text-align: center;
}
.head-section-text {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-white);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
}
.head-section-button {
  background: var(--blue-color);
  color: var(--first-white);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
}
/* LOREM SECTION */
.lorem-head-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-black);
}
.lorem-paragraph {
  line-height: 1.71;
}
/* ABOUT SECTION */
.about-head-text {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--secondary-black);
} /* TEAM SECTION */
.team {
  background: var(--main-button-color);
}
.team-head-text {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--secondary-black);
}
.team-member {
  width: 270px;
  height: 368px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-head-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: auto;
  height: 19px;
  color: var(--secondary-black);
  margin-top: 21.6px;
}
.team-member-paragraph {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--main-color);
}
.team-member-figure {
  margin: auto;
  height: 368px;
}
.team-member-figcaption {
  height: 108px;
}

/* PORTFOLIO SECTION */
.filter-button {
  background: var(--main-button-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 4px;
  width: 93px;
  height: 38px;
  color: var(--secondary-black);
}
.portfolio-list-element {
  box-sizing: border-box;
  background-color: var(--first-white);
  border: 1px solid var(--portfoliobox-color);
}
.portfolio-list-head-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-black);
  text-align: left;
}
.portfolio-list-paragraph {
  font-size: 16px;
  line-height: 1.88;
}

/* FOOTER SECTION */
.footer {
  background: var(--dark-color);
}

.footer-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--semi-white-color);
}
/*CURRENTLY SELECTED???*/
.current {
  color: var(--blue-color);
}
.currentBackground {
  background: var(--blue-color);
  color: var(--first-white);
}
/*VISUALLY HIDDEN THING*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
