body {
  padding: 0;
  margin: 0;
  color: #757575;
  font-family: "Raleway", serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
}

input,
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.menu-list,
.contact-list {
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: 0.02em;
}

.logo:visited,
.logo:link {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 3em;
  /* identical to box height */
}
.logo-studio {
  color: #000000;
}

.menu-list a:link,
.menu-list a:visited {
  color: #212121;
}
.menu-list a:hover,
.menu-list a:focus {
  color: #2196f3;
}
.filter-list input,
.order-button {
  background: #f5f4fa;
  border-radius: 4px;
  height: 38px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.5em;
  /* identical to box height, or 162% */

  text-align: center;

  color: #212121;
}
.filter-list input:focus,
.filter-list input:hover,
.order-button:focus,
.order-button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
}

section.effective p {
  font-weight: 900;
  font-size: 44px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
section.lorem strong {
  font-weight: 700;
  line-height: 1.2em;

  text-transform: uppercase;
}
section.about p,
section.team p {
  font-weight: 700;
  font-size: 36px;
  line-height: 2em;
  text-align: center;
  color: #212121;
}
section figcaption {
  font-size: 16px;
  line-height: 3em;
}
section strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 2em;
  /* identical to box height */

  color: #212121;
}
ul.contact-list li:nth-child(1) a {
  color: #2196f3;
}
ul.contact-list li a {
  color: #757575;
}

.footer-list li:nth-child(1) a {
  color: #ffffff;
}
.footer-list li a {
  color: #757575;
}
